.jobs-list-runs {
  container-name: jobs-list-runs;
  container-type: inline-size;
}

.jobs-list-runs.pf-m-grid-none .pf-v5-c-data-list__item-content > .jobs-list-summary-cell--status {
  flex: 0 0 clamp(9rem, 10%, 12rem);
}

.jobs-list-runs.pf-m-grid-none .pf-v5-c-data-list__item-content > .jobs-list-summary-cell--primary {
  flex: 0 0 clamp(10rem, 11%, 14rem);
}

.jobs-list-runs.pf-m-grid-none .pf-v5-c-data-list__item-content > .jobs-list-summary-cell--owner {
  flex: 0 0 20%;
}

@container jobs-list-runs (max-width: 1400px) {
  .jobs-list-summary-cell--created {
    display: none;
  }
}

@container jobs-list-runs (max-width: 1220px) {
  .jobs-list-summary-cell--score {
    display: none;
  }
}

@container jobs-list-runs (max-width: 1040px) {
  .jobs-list-summary-cell--secondary {
    display: none;
  }
}

@container jobs-list-runs (max-width: 900px) {
  .jobs-list-summary-cell--owner,
  .jobs-list-summary-cell--run-name {
    display: none;
  }
}

@container jobs-list-runs (max-width: 560px) {
  .jobs-list-summary-cell--status {
    display: none;
  }
}
